@charset "utf-8";

/* initialize */
html { font-size: 16px; line-height: 1.5em; }
body { margin:0; padding:0; background:#f8fafd; color:#677897; letter-spacing: -.2px; -webkit-text-size-adjust:none; -ms-text-size-adjust: none; font-family: 'notokr-regular'}
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address,big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike,strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset,form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, article, aside, canvas, footer, header, menu, nav, section, summary, video {padding: 0;border: 0;margin: 0;}

input[type=button], input[type=text], input[type=image],
input[type=submit],input[type=password], input[type=tel],
input[type=number], textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	outline: 0;
	vertical-align:middle;
	/*font-family:'notokr-demilight';*/
}

input[type=checkbox] {-webkit-appearance: checkbox;-moz-appearance: checkbox;}
input[type=radio] {-webkit-appearance: radio;-moz-appearance: radio;}
input::-ms-clear {display: none;width: 0;height: 0;}
input::-ms-reveal {display: none;width: 0;height: 0;}

select{-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;-o-appearance: none;appearance: none;}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }
em { font-style: normal; }
strong { font-weight: normal; }
li{ list-style:none; }
table{ width:100%; border-collapse:collapse; border-spacing:0; }
th, td{ border-collapse:collapse; }
legend, caption, hr{ display:none; }
a { text-decoration:none; color:#fff;}
a:hover {  color:#fff;}
img { vertical-align: top; }

*{-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;}

#wrap { overflow: hidden; }

/* 전체 메뉴 */
#menu { position: fixed; top: 0; left: 0; z-index: 9990; width: 100%; height: 120px; transition: background 300ms; }
#menu .content { height: 120px; padding: 48px 100px 36px; }
#menu .title { overflow: hidden; float: left; width: 120px; height: 36px; background: url('../img/logo-cube-white.png') no-repeat 0 center; background-size: 100% auto; font-size: 1px; text-indent: -1000px; }
#menu .title a { display: block; position: relative; height: 100%; }
#menu .title a:after { content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url('../img/logo-cube.png') no-repeat 0 center; background-size: 100% auto; opacity: 0; transition: opacity 300ms; }
#menu .nav { overflow: hidden; float: right; width: 67.5%; }
#menu .nav li { float: left; }
#menu .nav li:nth-child(2) { width: 16.5%; } 
#menu .nav li:nth-child(3) { width: 13.2%; }
#menu .nav li:nth-child(4) { width: 17%; }
#menu .nav li:nth-child(5) { width: 10.5%; }
#menu .nav li:nth-child(6) { width: 8.9%; }
#menu .nav li:nth-child(7) { width: 12.5%; }
#menu .nav li:nth-child(8) { width: 9.4%; }
#menu .nav li:last-child { width: 12%; }
#menu .nav li a { display: block; position: relative; padding: 6px 0; font-size: 1rem; line-height: 1.5em; transition: color 300ms; }
#menu .nav li a:after { content: ''; position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background: currentColor; transition: width 300ms; }
#menu .nav li a:hover:after, #menu .nav li.on a:after { width: 16px; }
#menu .lang { float: right; width: 72px; }
#menu .lang .select { display: block; position: relative; padding: 0 33px 0 15px; border: 2px solid #fff; line-height: 32px; background: url('../img/arrow-dropdown-24-fff.png') no-repeat 38px center; background-size: 24px 24px; transition: all 300ms;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	-ms-border-radius: 18px;
	border-radius: 18px;
}
#menu .lang ul { display: none; }
#menu .lang ul li { padding: 6px 0 6px 16px; }
#menu .lang ul li a { display: block; width: 22px; height: 24px; opacity: .6; }
#menu .lang ul li a:hover { text-decoration: underline; opacity: 1; }
#menu .lang ul li.on { display: none; }
#menu .m_btn, #menu .m { display: none; }

#menu.on { background: #fff; 
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 0 8px 0 rgba(0, 0, 0, .06);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 0 8px 0 rgba(0, 0, 0, .06);
	-ms-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 0 8px 0 rgba(0, 0, 0, .06);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 0 8px 0 rgba(0, 0, 0, .06);
}
#menu.on .nav li a { color: rgba(0, 0, 0, .87); }
#menu.on .title a:after { opacity: 1; }
#menu.on .lang .select { color: #126bd6; border: 1px solid #126bd6; background: url('../img/arrow-dropdown-24.png') no-repeat 38px center; background-size: 24px 24px; }
#menu.on .lang ul { margin-top: 4px; background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, .24), 0 0 8px 0 rgba(0, 0, 0, .12);
	-moz-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, .24), 0 0 8px 0 rgba(0, 0, 0, .12);
	-ms-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, .24), 0 0 8px 0 rgba(0, 0, 0, .12);
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, .24), 0 0 8px 0 rgba(0, 0, 0, .12);
}
#menu.on .lang a { color: #000; }


/* 메인 */
#section_main { padding-top: 120px; background: #102131; background-image: url('../img/bg-main-1.png'); background-size: 950px 460px; background-position: 0 0; background-repeat: no-repeat; }
#section_main .content { padding-top: 56px; }
#section_main .content:after { content: ''; display: table; clear: both; }
#section_main .content .title_area { float: left; width: 46%; padding-top: 28px; }
#section_main .sec_title { margin-bottom: 4px; color: #c5dfff; letter-spacing: .8px; text-align: left; }
#section_main .main_info { float: right; position: relative; width: 462px; padding: 32px 32px 24px; background: #263147; color: #fff; font-size: 0.875rem; line-height: 1.429em; color: rgba(255, 255, 255, .6);
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	-ms-border-radius: 8px;
	border-radius: 8px; 
	-webkit-box-shadow: 0 20px 30px 0px rgba(0, 0, 0, .5); 
	-moz-box-shadow: 0 20px 30px 0px rgba(0, 0, 0, .5); 
	-ms-box-shadow: 0 20px 30px 0px rgba(0, 0, 0, .5); 
	box-shadow: 0 20px 30px 0px rgba(0, 0, 0, .5); 
}
#section_main .main_info .info_title, #section_main .main_info li em { font-size: 2rem; line-height: 1.125em; letter-spacing: .8px; color: #fff; }
#section_main .main_info ul { overflow: hidden; margin-bottom: 24px; padding: 24px 0 16px; border-bottom: 1px solid rgba(255, 255, 255, .12); }
#section_main .main_info li em { display: block; margin-bottom: 8px; }
#section_main .main_info .txt { font-size: 1.25rem; line-height: 1.4em; letter-spacing: .2px; color: #fff; }
#section_main .main_info .btn { position: absolute; right: 0; bottom: -72px; }
#section_main .main_info .whNowrap { display: inline-block; padding-right: 12px; }
#section_main .copy { background: #263147; font-size: 1.125rem; line-height: 1.333em; letter-spacing: -.2px; color: #fff; }
#section_main .copy .content { padding: 20px 100px; }
#section_main .copy span { margin-left: 24px; font-size: 0.875rem; opacity: .6; }
#section_main img { width: 884px; height: auto; margin-left: -12%; }

/* section1_What We Do */
#section1 { background: url('../img/bg-sub-1.png') no-repeat 0 9%, url('../img/bg-sub-2.png') no-repeat 100% 38%, url('../img/bg-sub-3.png') no-repeat 0 57%, url('../img/bg-sub-4.png') no-repeat 0 103%; background-size: 576px auto, 700px auto, 100% auto, 100% auto; }
#section1 .content { padding: 120px 100px; }
#section1 .sec_title { letter-spacing: .5px; color: #102131; }
#section1 .video_wrap { position: relative; width: 622px; height: 350px; margin: 64px auto;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: -8px 16px 50px 0px rgba(18, 107, 214, .5);
	-moz-box-shadow: -8px 16px 50px 0px rgba(18, 107, 214, .5);
	-ms-box-shadow: -8px 16px 50px 0px rgba(18, 107, 214, .5);
	box-shadow: -8px 16px 50px 0px rgba(18, 107, 214, .5);
}
#section1 .video_wrap img { width: 100%; height: auto; }
#section1 .video_wrap .play { overflow: hidden; position: absolute; top: 50%; left: 50%; width: 80px; height: 80px; margin: -40px 0 0 -40px; background: url('../img/ico-play-80-fff.png') no-repeat 0 0; background-size: 80px; font-size: 1px; text-indent: -1000px; }

#section1 .img1 { display: block; position: absolute; top: 38px; right: -8px; width: 52.8%; height: auto; }
#section1 .img2 { display: block; width: 52.2%; height: auto; margin: 48px 0 0 13.5%; }
#section1 .img3 { display: block; position: absolute; top: 181px; right: -29px; width: 46.9%; height: auto; }
#section1 .subSection { position: relative; }
#section1 .subSection .graph .caption { display: block; font-size: 1.125rem; line-height: 1.333em; text-align: center; }
#section1 .subSection .graph .round { float: left; width: 44.1%; }
#section1 .subSection .graph .round .img { position: relative; width: 280px; margin: -16px auto 0; text-align: center; font-size: 1.125rem; }
#section1 .subSection .graph .round .img img { width: 100%; height: auto; }
#section1 .subSection .graph .round .img span { position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; padding-top: 92px; }
#section1 .subSection .graph .round .img span em { display: block; margin-bottom: 12px; font-size: 60px; line-height: 1; }
#section1 .subSection .graph .round .caption { margin-top: 13px; font-family: 'notokr-bold'; }
#section1 .subSection .graph .stick { float: right; width: 55.9%; }
#section1 .subSection .graph .stick img { display: block; width: 458px; height: 265px; margin: 32px auto 0 52px; }
#section1 .subSection .graph .stick .caption { width: 275px; margin: 40px auto 0; }
#section1 .subSection .desc_list { margin-top: 32px; padding-left: 96px; }
#section1 .subSection .desc_list li { position: relative; margin-bottom: 8px; padding-left: 32px; }
#section1 .subSection .desc_list li:before { content: ''; position: absolute; top: 50%; left: 0; width: 16px; height: 16px; margin-top: -8px; background: #c6d9ec; 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
}
#section1 .subSection .desc_list li.current:before { background: #5194fd; }
#section1 .btn { width: 284px; margin-top: 40px;
 	-webkit-box-shadow: 0 3px 10px 0 rgba(58, 134, 254, .45);
 	-moz-box-shadow: 0 3px 10px 0 rgba(58, 134, 254, .45);
 	-ms-box-shadow: 0 3px 10px 0 rgba(58, 134, 254, .45);
 	box-shadow: 0 3px 10px 0 rgba(58, 134, 254, .45);
}
#section1 .btn .flipper .button { width: 284px; }

#section1 .market_table { overflow: hidden; margin-top: 64px; text-align: center; }
#section1 .market_table dl { float: left; width: 50%; border-right: 1px solid rgba(0, 0, 0, .24); }
#section1 .market_table dl:last-child { border-right: none; }
#section1 .market_table dl > * { border-top: 1px solid rgba(0, 0, 0, .24); }
#section1 .market_table dt { padding: 20px 0; font-size: 1.125rem; line-height: 1.333em; font-family: 'notokr-bold'; }
#section1 .market_table dd { padding: 30px 0 14px; border-bottom: 1px solid rgba(0, 0, 0, .24); font-size: 1.125rem; }
#section1 .market_table dd p { margin-bottom: 16px; }
#section1 .market_table dd p.em { margin: -8px 0 0 8px; font-size: 3rem; line-height: 64px; letter-spacing: -.5px; color: #126bd6; }

#section1 .rodeMap { position: relative; padding-left: 182px; }
#section1 .rodeMap li { position: relative; margin-bottom: 32px; padding-left: 80px; }
#section1 .rodeMap li:last-child { margin-bottom: 0; }
#section1 .rodeMap dl { display: table; width: 100%; }
#section1 .rodeMap dt { display: table-cell; width: 142px; font-size: 1.25rem; line-height: 1.333em; vertical-align: middle; }
#section1 .rodeMap dd { display: table-cell; padding-left: 24px; border-left: 1px solid #677897; vertical-align: middle; }
#section1 .rodeMap dd strong { margin: 0; }
#section1 .rodeMap .number { display: block; position: absolute; top: 50%; left: 0; z-index: 10; width: 48px; height: 48px; margin-top: -24px; background: #5194fd; line-height: 48px; text-align: center; color: #fff; transition: all 300ms;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	-ms-border-radius: 24px;
	border-radius: 24px;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .24);
	-moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .24);
	-ms-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .24);
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .24);
	-webkit-transform: translate3d(0, 0, 0) scale(0);
	-moz-transform: translate3d(0, 0, 0) scale(0);
	-ms-transform: translate3d(0, 0, 0) scale(0);
	transform: translate3d(0, 0, 0) scale(0);
}
#section1 .rodeMap li.on .number {
	-webkit-transform: translate3d(0, 0, 0) scale(1);
	-moz-transform: translate3d(0, 0, 0) scale(1);
	-ms-transform: translate3d(0, 0, 0) scale(1);
	transform: translate3d(0, 0, 0) scale(1);
}
#section1 .rodeMap.fixed .number { transition: none;
	-webkit-transform: scale(1) !important;
	-moz-transform: scale(1) !important;
	-ms-transform: scale(1) !important;
	transform: scale(1) !important;
}

#section1 .rodeMap .stick { position: absolute; top: 30px; left: 202px; display: block; width: 8px; height: 0; transition: height 1100ms ease;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	background: #66acff;
	background: -webkit-linear-gradient(180deg, #66acff, #126bd6);
	background: -moz-linear-gradient(180deg, #66acff, #126bd6);
	background: -ms-linear-gradient(180deg, #66acff, #126bd6);
	background: linear-gradient(180deg, #66acff, #126bd6); 
}
#section1 .rodeMap.on .stick { height: 95%; }
#section1 .rodeMap.fixed .stick { height: 97% !important; transition: none; }

/* section2_ICO Plan */
#section2 { background: #142130; }
#section2 .content { padding: 120px 100px; }
#section2 .sec_title { color: #fff; }
#section2 .sec_title + .sub_sec_title { margin: 80px 0; }
#section2 .sub_sec_title { margin-bottom: 64px; color: #c5dfff; }
#section2 .txt2 { margin: 32px 0 16px; font-size: 1.5rem; line-height: 1.5em; color: #66acff; text-align: center; }

#section2 .exchanges_list { margin-top: 64px; }
#section2 .exchanges_list:after { content: ''; display: table; clear: both; }
#section2 .exchanges_list li { float: left; width: 21%; margin-right: 5.33%; }
#section2 .exchanges_list li:nth-child(4n+4) { margin-right: 0; }
#section2 .exchanges_list li img { width: 100%; height: auto; }

#section2 .graph { width: 100%; margin-top: 120px; padding: 0 42px; }
#section2 .graph h4 { font-size: 2.25rem; line-height: 1.333em; font-family: 'notokr-light'; color: #fff; text-align: center; }
#section2 .graph .token { float: left; width: 50%; }
#section2 .graph .token .cell strong { display: block; }
#section2 .graph .fund { float: right; width: 50%; }
#section2 .graph .fund ul { margin-left: 127px; }
#section2 .graph .fund li { width: 287px; }
#section2 .graph ul { width: 80px; height: 500px; margin: 64px 0 0 152px;
	background: #102397;
	background: -webkit-linear-gradient(180deg, #00eaf8, #187adf, #102397);
	background: -moz-linear-gradient(180deg, #00eaf8, #187adf, #102397);
	background: -ms-linear-gradient(180deg, #00eaf8, #187adf, #102397);
	background: linear-gradient(180deg, #00eaf8, #187adf, #102397); 
}
#section2 .graph li { display: table; width: 240px; padding-left: 104px; border-bottom: 1px solid rgba(255, 255, 255, .3); }
#section2 .graph li:last-child { border-bottom: none; }
#section2 .graph li:first-child .cell { color: #66acff; }
#section2 .graph li:first-child .cell strong { font-size: 3rem; line-height: 1.333em; }
#section2 .graph li .cell { display: table-cell; width: 100%; vertical-align: middle; color: rgba(255, 255, 255, .6); }
#section2 .graph li .cell strong { display: inline-block; margin-right: 3px; font-size: 1.5rem; line-height: 1.5em; letter-spacing: .2px; font-family: 'PlayfairDisplay-Bold'; }
#section2 .graph li .cell span { white-space: nowrap; }
#section2 .graph li.small .cell { font-size: 0.875rem; line-height: 1.429em; }
#section2 .graph li.small strong { font-size: 1rem; line-height: 1.5em; }

#section2 .profit_list { overflow: hidden; margin-top: 32px; color: #fff; text-align: center; }
#section2 .profit_list li { float: left; width: 30.6%; min-height: 345px; margin-right: 4.1%; padding: 32px 16px; background: #263147; 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
}
#section2 .profit_list li:last-child { margin-right: 0; }
#section2 .profit_list li h5 { position: relative; margin-bottom: 32px; padding-bottom: 36px; font-size: 1.5rem; line-height: 1.5em; letter-spacing: 0; }
#section2 .profit_list li h5:after { content: ''; position: absolute; bottom: 0; left: 50%; width: 30px; height: 4px; margin-left: -15px; background: #66acff; }
#section2 .profit_list li p { font-size: 0.875rem; font-family: 'notokr-light'; line-height: 1.429em; letter-spacing: .5px; }
#section2 .img4 { width: 88%; height: auto; margin-top: 40px; }
#section2 .subSection .number_list { margin-top: 0; }

/* section3_Whitepapers */
#section3 { background: #1d3259; }
#section3 .content { padding: 120px 100px; }
#section3 .sec_title { letter-spacing: .5px; color: #fff; }
#section3 .Whitepaper_list { overflow: hidden; margin-top: 59px; }
#section3 .Whitepaper_list li { float: left; width: 23.5%; margin-right: 2%; }
#section3 .Whitepaper_list li:last-child { margin-right: 0; }
#section3 .Whitepaper_list .img { position: relative; }
#section3 .Whitepaper_list .img p { position: absolute; bottom: 24px; left: 0; width: 100%; text-align: center; }
#section3 .Whitepaper_list img { width: 100%; height: auto; }
#section3 .Whitepaper_list .btn_wrap { text-align: center; margin-top: 18px; }
#section3 .Whitepaper_list .btn_wrap a { display: inline-block; padding: 6px; }
#section3 .Whitepaper_list .btn_wrap a:hover { text-decoration: underline; }

/* section4_Team */
#section4{ background: url('../img/bg-sub-1.png') no-repeat 0 7%, url('../img/bg-sub-2.png') no-repeat 100% 38%, url('../img/bg-sub-3.png') no-repeat 0 56%, url('../img/bg-sub-4.png') no-repeat 0 98%; background-size: 576px auto, 700px auto, 100% auto, 100% auto; }
#section4 .content { padding: 120px 100px 0; }
#section4 .sec_title { letter-spacing: .5px; color: #102131; }
#section4 .sec_title + .sub_sec_title { margin-top: 80px; }
#section4 .team_list { overflow: hidden; margin-top: 64px; }
#section4 .team_list li { float: left; width: 30.7%; margin-right: 3.95%; }
#section4 .team_list li:nth-child(3n+3) { margin-right: 0; }
#section4 .team_list .profile { position: relative; padding: 24px 0 24px 101px; }
#section4 .team_list .profile .photo { position: absolute; top: 0; left: 0; width: 80px; height: 80px; 
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	border-radius: 40px;
}
#section4 .team_list .name { line-height: 32px; }
#section4 .team_list .sns { display: inline-block; width: 32px; height: 32px; margin-left: 8px; vertical-align: top; }
#section4 .team_list .sns img { width: 100%; height: auto; }
#section4 .team_list .flag { overflow: hidden; min-height: 24px; margin: 16px 0; }
#section4 .team_list .flag li { float: left; width: auto; margin-right: 16px; }
#section4 .team_list .flag li img { width: auto; height: 24px; }
#section4 .sub_title.lite { color: #677897; }
#section4 .sub_sec_title + .sub_title.lite { margin-top: 64px; }
#section4 .dot_list { color: #677897; }

#section4 .img_list { overflow: hidden; margin-top: 40px; }
#section4 .img_list img { width: 100%; height: auto; }
#section4 .img_list li { float: left; width: 33.3%; }
#section4 .img_list li img { display: none; }
#section4 .img_list li p { margin-top: 24px; font-size: 1.125rem; color: rgba(0, 0, 0, .6); text-align: center; }

/* section5_FAQ */
#section5 .content { padding: 120px 100px; }
#section5 .sec_title { letter-spacing: .5px; color: #102131; }
#section5 .faq_list { margin-top: 80px; }
#section5 .faq_list .title { position: relative; display: block; width: 100%; min-height: 64px; padding: 20px 40px 20px 16px; border: none; border-bottom: 1px solid rgba(0, 0, 0, .16); background: none; text-align: left; cursor: pointer; font-size: 1.125rem; line-height: 1.333em; letter-spacing: -.2px; color: rgba(0, 0, 0, .87);}
#section5 .faq_list .title:after { content: ''; position: absolute; top: 50%; right: 20px; width: 16px; height: 2px; margin-top: -1px; background: rgba(0, 0, 0, .6); }
#section5 .faq_list .title:before { content: ''; position: absolute; top: 50%; right: 27px; width: 2px; height: 16px; margin-top: -8px;  background: rgba(0, 0, 0, .6); transition: all 300ms; }
#section5 .faq_list .cont { display: none; padding: 32px 16px; }
#section5 .faq_list .cont a { color: #126bd6; }
#section5 .faq_list .title.open:before {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

#section5 .asSeenOn_list { overflow: hidden; margin-top: 64px; padding: 0 5%; }
#section5 .asSeenOn_list li { float: left; margin-right: 6.5%; }
#section5 .asSeenOn_list ul:last-child li:last-child { margin-right: 0; }
#section5 .asSeenOn_list li img { width: auto; height: 80px; }

/* section6_Talk together */
#section6 .shadow_box { padding: 64px 0 56px; background: #fff; text-align: center; 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 15px 45px 0 rgba(23, 128, 224, .21);
	-moz-box-shadow: 0px 15px 45px 0 rgba(23, 128, 224, .21);
	-ms-box-shadow: 0px 15px 45px 0 rgba(23, 128, 224, .21);
	box-shadow: 0px 15px 45px 0 rgba(23, 128, 224, .21);
}
#section6 .sec_title { font-size: 2.25rem; color: #102131; letter-spacing: .4px; }
#section6 .sns_list { overflow: hidden; display: inline-block; margin-top: 56px; }
#section6 .sns_list li { float: left; width: 48px; height: 48px; margin: 0 20px; }
#section6 .sns_list li img { width: 100%; height: auto; }
#section6 .footer { margin-top: -63px; background: #e6effa }
#section6 .footer .content { padding: 143px 100px 96px; font-size: 12px; line-height: 24px; letter-spacing: 0; color: rgba(0, 0, 0, .6); }
#section6 .footer .addr { width: 224px; color: rgba(0, 0, 0, .87); }
#section6 .footer .email { overflow: hidden; display: inline-block; margin-top: 16px; color: #126bd6; font-size: 1rem; line-height: 1.5em; }
#section6 .footer .email dt, #section6 .footer .email dd { float: left; }
#section6 .footer .email dt:after { content: '|'; display: inline-block; margin: 0 7px; }
#section6 .footer .bottom { overflow: hidden; margin-top: 40px; }
#section6 .footer .bottom .link { float: left; }
#section6 .footer .bottom .link a { display: inline-block; vertical-align: top; color: rgba(0, 0, 0, .6); }
#section6 .footer .bottom .link a:last-child:before { content: '|'; display: inline-block; margin: 0 7px; vertical-align: top; }
#section6 .footer .bottom .copy { float: right; font-size: 10px; line-height: 14px; }

/* overlay */
#overlay { position: fixed; bottom: -72px; left: 0; z-index: 1000; width: 100%; height: 72px; background: rgba(16, 33, 49, .87); transition: 300ms ease;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
#overlay.slideUp {
	-webkit-transform: translate3d(0, -72px, 0);
	-moz-transform: translate3d(0, -72px, 0);
	-ms-transform: translate3d(0, -72px, 0);
	transform: translate3d(0, -72px, 0);
}
#overlay .btn { height: 40px; margin: 16px auto; }
#overlay .btn .flipper .button { height: 40px; line-height: 40px; }
#overlay .btn .flipper {
	-webkit-transform-origin: 100% 20px;
	-moz-transform-origin: 100% 20px;
	-ms-transform-origin: 100% 20px;
	transform-origin: 100% 20px;
}
#overlay .btn .flipper .front {
	-webkit-transform: translateZ(20px);
	-moz-transform: translateZ(20px);
	-ms-transform: translateZ(20px);
	transform: translateZ(20px);
}
#overlay .btn .flipper .back {
	-webkit-transform: rotateX(90deg) rotateZ(180deg) rotateY(180deg) translateZ(20px);
	-moz-transform: rotateX(90deg) rotateZ(180deg) rotateY(180deg) translateZ(20px);
	-ms-transform: rotateX(90deg) rotateZ(180deg) rotateY(180deg) translateZ(20px);
	transform: rotateX(90deg) rotateZ(180deg) rotateY(180deg) translateZ(20px);
}
#overlay .top { overflow: hidden; display: block; position: absolute; top: 50%; right: 7px; width: 36px; height: 36px; margin-top: -18px; border: 1px solid rgba(255, 255, 255, .6); background: url('../img/arrow-top-24-fff.png') no-repeat center; background-size: 24px; font-size: 1px; text-indent: -1000px; 
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	-ms-border-radius: 18px;
	border-radius: 18px;
}

/* side_nav */
#side_nav { position: fixed; top: 50%; left: 50%; display: block; width: 16px; margin: -138px 0 0 643px; padding-top: 108px; }
#side_nav:after { content: ''; position: absolute; top: 0; left: 50%; width: 2px; height: 72px; margin-left: -1px; background: #3a86fe; }
#side_nav li { position: relative; width: 8px; height: 8px; margin: 16px auto; background: #d8d8d8; font-size: 1px; text-indent: -1000px; transition: all 300ms;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}
#side_nav li:after { content: ''; position: absolute; top: -4px; left: -4px; width: 16px; height: 16px; background: #5194fd; transition: all 300ms ease;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}
#side_nav li.on:after { 
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
#side_nav li:first-child { margin-top: 0; }
#side_nav li:last-child { display: none; }

#video { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 9991; pointer-events: none;}
#video .dimmed { background: rgba(0, 0, 0, 0.8); width: 100%; height: 100%; opacity: 0; -webkit-transition: opacity 0.3s; transition: opacity 0.3s;}
#video .dimmed.open { opacity: 1; pointer-events: auto;}
#video .movie-holder { background: transparent; position: absolute; top: 50%; left: 50%; margin: -180px 0 0 -320px; display: none; pointer-events: auto;}
#video .movie-holder .btnClose { position: absolute; width: 30px; height: 30px; right: -40px; cursor: pointer; pointer-events: auto;}
#video .movie-holder .btnClose:after, #video .movie-holder .btnClose:before { content: ''; position: absolute; top: 50%; left: 50%; background: #fff; 
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
#video .movie-holder .btnClose:after { width: 2px; height: 26px; margin: -13px 0 0 -1px; }
#video .movie-holder .btnClose:before { width: 26px; height: 2px; margin: -1px 0 0 -13px; }
#video  iframe { vertical-align: top; }


/* 공통 */
.content { position: relative; width: 1352px; margin: 0 auto; padding: 0 100px; transition: padding 300ms; }
.sec_title { font-family: 'PlayfairDisplay-Bold'; font-size: 3rem; line-height: 1.333em; text-align: center; }
.sub_sec_title { margin-top: 120px; font-family: 'PlayfairDisplay-Bold'; font-size: 3rem; line-height: 1.333em; letter-spacing: .5px; color: #126bd6; }
.sub_title { margin-bottom: 32px; font-size: 2.25rem; line-height: 1.333em; color: #677897; }
.sub_title.lite { margin-top: 80px; font-family: 'notokr-light'; color: #fff; }
.sub_title.lite + .subSection { padding-top: 32px; }

.subSection { padding-top: 80px; }
.subSection:after, .graph:after { content: ''; display: table; clear: both; }
.subSection .txt { width: 46.7%; letter-spacing: -.2px; }
.subSection .img { width: 53.3%; }
.subSection .img.fRight { text-align: right; }
.subSection strong { display: block; margin: 32px 0 16px; font-family: 'notokr-medium'; }

.number_list { margin-top: 32px; line-height: 2em; font-family: 'notokr-light'; color: #fff; letter-spacing: -.2px; }
.number_list li { padding-left: 30px; text-indent: -30px; }
.number_list span { display: inline-block; width: 30px; vertical-align: top; text-indent: 0; }
.number_list.type2 li { padding-left: 80px; text-indent: -80px; }
.number_list.type2 span { width: 80px; }

.dot_list { margin-top: 16px; line-height: 2em; color: #fff; font-family: 'notokr-light'; }
.dot_list li { padding-left: 20px; text-indent: -20px; }
.dot_list li:before { content: '•'; display: inline-block; width: 20px; vertical-align: top; text-indent: 0; }

.plan_table table { margin-top: 64px; border-top: 1px solid #fff; font-size: 1.125rem; line-height: 1.333em; letter-spacing: -.2px; text-align: center; }
.plan_table th { color: #fff; }
.plan_table td { color: #66acff; }
.plan_table tr { border-bottom: 1px solid rgba(255, 255, 255, .3); }
.plan_table th, .plan_table td { padding: 19px 0; border-right: 1px solid rgba(255, 255, 255, .3); }
.plan_table th:last-child, .plan_table td:last-child { border-right: 0; }
.plan_table tfoot td { border: none; }

.plan_table.type2 table { margin-top: 40px; }
.plan_table.type2 th { font-size: 1rem; line-height: 1.5em; letter-spacing: -.4px; }
.plan_table.type2 td { padding: 10px; font-size: 0.875rem; line-height: 1.429em; color: #fff; font-family: 'notokr-light'; }

.txtInfo { color: rgba(255, 255, 255, .6); text-align: center; }
.txtInfo:before { content: ; display: inline-block; width: 16px; height: 24px; background: url('../img/ico-exclamation-16-fff.png') no-repeat center; background-size: 16px; vertical-align: top; }

.btn { display: block; cursor: pointer; width: 185px; height: 48px; 
	background: -webkit-linear-gradient(90deg, #126bd6, #66acff);
	background: -moz-linear-gradient(90deg, #126bd6, #66acff);
	background: -ms-linear-gradient(90deg, #126bd6, #66acff);
	background: linear-gradient(90deg, #126bd6, #66acff);
	-webkit-perspective: 700;
	-moz-perspective: 700;
	-ms-perspective: 700;
	perspective: 700;
	-webkit-box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.5);
	-ms-box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.5);
}
.btn .flipper { position: relative; transition: all 400ms ease-in-out; 
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 100% 24px;
	-moz-transform-origin: 100% 24px;
	-ms-transform-origin: 100% 24px;
	transform-origin: 100% 24px;
}
.btn .flipper:hover {
	-webkit-transform: rotateX(90deg);
	-moz-transform: rotateX(90deg);
	-ms-transform: rotateX(90deg);
	transform: rotateX(90deg);
}
.btn .flipper .button { position: absolute; top: 0; left: 0; display: inline-block; width: 185px; height: 48px; line-height: 48px; text-align: center; backface-visibility: hidden;
	background: -webkit-linear-gradient(90deg, #126bd6, #66acff);
	background: -moz-linear-gradient(90deg, #126bd6, #66acff);
	background: -ms-linear-gradient(90deg, #126bd6, #66acff);
	background: linear-gradient(90deg, #126bd6, #66acff);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}
.btn .flipper .front { z-index: 10;
	-webkit-transform: translateZ(24px);
	-moz-transform: translateZ(24px);
	-ms-transform: translateZ(24px);
	transform: translateZ(24px);
}
.btn .flipper .back {
	background: -webkit-linear-gradient(90deg, #1f518e, #4492ef);
	background: -moz-linear-gradient(90deg, #1f518e, #4492ef);
	background: -ms-linear-gradient(90deg, #1f518e, #4492ef);
	background: linear-gradient(90deg, #1f518e, #4492ef);
	-webkit-transform: rotateX(90deg) rotateZ(180deg) rotateY(180deg) translateZ(24px);
	-moz-transform: rotateX(90deg) rotateZ(180deg) rotateY(180deg) translateZ(24px);
	-ms-transform: rotateX(90deg) rotateZ(180deg) rotateY(180deg) translateZ(24px);
	transform: rotateX(90deg) rotateZ(180deg) rotateY(180deg) translateZ(24px);
}
.btn.ie {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}
.btn.ie .flipper { transition: none; }
.btn.ie .flipper .back { display: none; }
.btn.ie .flipper:hover {
	-webkit-transform: rotateX(0);
	-moz-transform: rotateX(0);
	-ms-transform: rotateX(0);
	transform: rotateX(0);
}

/* 기타 */
.fLeft { float: left; }
.fRight { float: right; }

.fc1 { color: #fff; } /* 흰색 */
.line30 { line-height: 1.875rem; }

/* animation */
#menu .m_menu {
	-webkit-animation: slideUp 0.5s ease forwards;
	-moz-animation: slideUp 0.5s ease forwards;
	animation: slideUp 0.5s ease forwards;
}

@-webkit-keyframes slideUp {
	0% { -webkit-transform: translate3d(0, 0, 0); }
	100% { -webkit-transform: translate3d(0, -100%, 0); }
}
@-moz-keyframes slideUp {
	0% { -moz-transform: translate3d(0, 0, 0); }
	100% { -moz-transform: translate3d(0, -100%, 0); }
}
@keyframes slideUp {
	0% { transform: translate3d(0, 0, 0); }
	100% { transform: translate3d(0, -100%, 0); }
}

#menu .m_menu.slideDown {
	-webkit-animation: slideDown 0.5s ease forwards;
	-moz-animation: slideDown 0.5s ease forwards;
	animation: slideDown 0.5s ease forwards;	
}

@-webkit-keyframes slideDown {
	0% { -webkit-transform: translate3d(0, -100%, 0); }
	100% { -webkit-transform: translate3d(0, 0, 0); }
}
@-moz-keyframes slideDown {
	0% { -moz-transform: translate3d(0, -100%, 0); }
	100% { -moz-transform: translate3d(0, 0, 0); }
}
@keyframes slideDown {
	0% { transform: translate3d(0, -100%, 0); }
	100% { transform: translate3d(0, 0, 0); }
}

.moving.animate {
  -webkit-animation: moving_animate 0.75s ease forwards;
  -moz-animation: moving_animate 0.75s ease forwards;
  animation: moving_animate 0.75s ease forwards;
}
@-webkit-keyframes moving_animate {
  0% { -webkit-transform: translateY(50px); opacity: 0; }
  100% { -webkit-transform: translateY(0); opacity: 1; }
}

@-moz-keyframes moving_animate {
  0% { -moz-transform: translateY(50px); opacity: 0; }
  100% { -moz-transform: translateY(0); opacity: 1; }
}

@keyframes moving_animate {
  0% { transform: translateY(50px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

/*  반응형 */
@media screen and (max-width: 1352px) {
	.content { width: 100%; }
	#side_nav { left: auto; right: 17px; margin-left: 0; }
}

@media screen and (max-width: 1080px) {
	#menu .content { padding: 48px 48px 36px; }

	#section1 .content { padding: 120px 48px; }
	#section2 .content { padding: 120px 48px; }
	#section3 .content { padding: 120px 48px; }
	#section4 .content { padding: 120px 48px 0; }
	#section5 .content { padding: 120px 48px; }
	#section6 .footer .content { padding: 143px 48px 96px; }
	#side_nav { display: none; }

	.content { padding: 0 48px; }
}

@media screen and (max-width: 1024px) {
	#section1 .rodeMap { padding-left: 70px; }
	#section1 .rodeMap .stick { left: 90px; }

	#section2 .graph { padding: 0 24px; }
	#section2 .graph ul { margin-left: 70px; }
	#section2 .graph .fund ul { margin-left: 80px; }
	#section2 .profit_list li { min-height: 365px; padding-bottom: 16px; }
	
	#section5 .asSeenOn_list { padding: 0 1%; }
	#section5 .asSeenOn_list li { margin-right: 4.5%; }
}

@media screen and (max-width: 955px) {
	#menu .m { display: block; }
	#menu .m_menu { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, .96); }	
	#menu .m_menu .nav { float: none; margin: 42px auto 0; text-align: center; }
	#menu .m_menu .nav li { float: none; width: 100%; margin-bottom: 16px; }
	#menu .m_menu .nav a { display: inline-block; color: rgba(0, 0, 0, .87); font-size: 1.286rem; line-height: 1.333em; }
	#menu .m_menu .nav li.on a { border-bottom: 1px solid rgba(0, 0, 0, .87); }
	#menu .m_menu .nav li a:after { display: none; }
	#menu .m_menu .select { display: none; }
	#menu .m_menu .lang { float: none; display: block; width: 100%; height: 73px; padding: 16px; }
	#menu .m_menu .lang ul { display: block!important; }
	#menu .m_menu .lang ul li { float: left; padding: 0; }
	#menu .m_menu .lang ul li.on { display: block; }
	#menu .m_menu .lang ul li a { width: 40px; height: 41px; color: rgba(0, 0, 0, .87); line-height: 41px; text-align: center; 
		-webkit-text-shadow: none;
		-moz-text-shadow: none;
		-ms-text-shadow: none;
		text-shadow: none;
	}
	#menu .m_menu .lang ul li.on a { position: relative; opacity: .87; }
	#menu .m_menu .lang ul li.on a:after { content: ''; position: absolute; bottom: 5px; left: 4px; right: 4px; height: 1px; background: rgba(0, 0, 0, .87); }
	#menu .m_menu .signIn { display: block; width: 120px; height: 40px; margin: 30px auto 0; -webkit-border-radius: 4px; border-radius: 4px; border: 1px solid #126bd6; color: #126bd6; font-size: 1.143rem; line-height: 38px; text-align: center; }  

	#menu { height: 73px; }
	#menu .content { height: 73px; padding: 24px 16px; }
	#menu .title { width: 90px; height: 25px; }
	#menu .m_btn { overflow: hidden; display: block; position: absolute; top: 0; right: 0; z-index: 9990; width: 73px; height: 73px; font-size: 1px; text-indent: -1000px; }
	#menu .m_btn span { position: absolute; top: 50%; left: 50%; display: block; width: 36px; height: 2px; margin: -1px 0 0 -18px; background: #fff; color: #fff; -webkit-transform: rotate(0deg) translate3d(0, 0, 0); transform: rotate(0deg) translate3d(0, 0, 0); transition: all 500ms ease; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
	#menu .m_btn span:after, #menu .m_btn span:before { content: ''; display: block; position: absolute; height: 2px; background: #fff; transition: all 500ms ease; 
		-webkit-transform: rotate(0deg) translate3d(0, 0, 0); 
		-moz-transform: rotate(0deg) translate3d(0, 0, 0); 
		transform: rotate(0deg) translate3d(0, 0, 0); 
	}
	#menu .m_btn span:after { top: -9px; width: 29px; }
	#menu .m_btn span:before { bottom: -9px; width: 22px; }
	
	#menu .m_btn.close span{ background: rgba(0, 0, 0, .87); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
	#menu .m_btn.close span:after{ width: 18px; background: rgba(0, 0, 0, .87); 
		-webkit-transform: rotate(90deg) translate3d(0px, -7px, 0); 
		-moz-transform: rotate(90deg) translate3d(0px, -7px, 0); 
		transform: rotate(90deg) translate3d(0px, -7px, 0); 
	}
	#menu .m_btn.close span:before{ width: 18px; background: rgba(0, 0, 0, .87); 
		-webkit-transform: rotate(-90deg) translate3d(0px, 7px, 0); 
		-moz-transform: rotate(-90deg) translate3d(0px, 7px, 0); 
		transform: rotate(-90deg) translate3d(0px, 7px, 0); 
	}

	#menu.on .m_btn span, #menu.on .m_btn span:after, #menu.on .m_btn span:before { background: rgba(0, 0, 0, .87); }

	#section_main { padding-top: 73px; }
	#section_main .content { padding-top: 10px; }
	#section_main .content .title_area { float: none; width: 100%; }
	#section_main .sec_title { position: relative; z-index: 10; text-align: center; }
	#section_main .main_info { float: none; width: 100%; }
	#section_main img { width: 92%; margin-top: -19%; }
	#section_main .main_info .btn { display: none; }
	#section_main .copy { margin-top: 30px; }
	#section_main .copy .content { padding: 20px 24px; }
	#section_main .copy span { display: block; margin: 0; }
	
	#section1 { background: none; }
	#section1 .content { padding: 32px 24px; }
	#section1 .video_wrap { width: 90%; height: 0; margin: 32px auto; padding-top: 50.7%; }
	#section1 .video_wrap img { position: absolute; top: 0; }
	#section1 .img1 { position: static; width: 95%; margin: 0 auto 24px; }
	#section1 .img2 { width: 50%; margin: 48px auto 24px; }
	#section1 .img3 { position: static; width: 90%; margin: 48px auto 24px; }
	#section1 .subSection .graph .round, #section1 .subSection .graph .stick { float: none; width: 100%; }
	#section1 .subSection .graph .round { text-align: center; }
	#section1 .subSection .graph .round .img { margin-top: 0; }
	#section1 .subSection .desc_list { display: inline-block; padding-left: 0; text-align: left; }
	#section1 .subSection .graph .stick img { margin: 40px auto 52px; }
	#section1 .rodeMap { padding-left: 0; }
	#section1 .rodeMap .stick { left: 20px; }
	#section1 .market_table dd { min-height: 246px; }

	#section2 .content { padding: 32px 24px; }
	#section2 .graph h4 { text-align: left; }
	#section2 .graph ul, #section2 .graph .fund ul { margin-left: 0; }
	#section2 .profit_list li { float: none; width: 100%; min-height: auto; margin-bottom: 24px; }
	#section2 .img4 { display: block; margin: 0 auto; }
	#section2 .sub_sec_title { margin-bottom: 48px; }

	#section3 .content { padding: 32px 24px 0; }
	#section3 .Whitepaper_list li { width: 48%; margin: 0 1% 40px; }
	
	#section4 { background: none; }
	#section4 .content { padding: 32px 24px 0; }
	#section4 .sub_sec_title { margin-bottom: 48px }
	#section4 .team_list { margin-top: 0; }
	#section4 .team_list li { width: 100%; margin: 0 0 40px 0; }

	#section5 .content { padding: 32px 24px 0; }
	#section5 .asSeenOn_list ul { display: block; width: 83%; margin: 0 auto; padding-bottom: 5%; text-align: center; }
	#section5 .asSeenOn_list ul li { float: none; display: inline-block; margin: 0 3.9%; }
	#section5 .asSeenOn_list ul:first-child li:first-child { width: 17.5%; }
	#section5 .asSeenOn_list ul:first-child li:nth-child(2) { width: 21.9%; }
	#section5 .asSeenOn_list ul:first-child li:nth-child(3) { width: 13.2%; }
	#section5 .asSeenOn_list ul:first-child li:last-child { width: 13.2%; }

	#section5 .asSeenOn_list ul:last-child li:first-child { width: 24%; }
	#section5 .asSeenOn_list ul:last-child li:last-child { width: 36.3%; }
	#section5 .asSeenOn_list li img { width: 100%; height: auto; }
	
	#section6 .sec_title { margin-bottom: 40px; font-size: 3rem; }
	#section6 .footer .content { padding: 32px 24px 88px; }
	#section6 .footer .addr { width: 100%; }
	#section6 .shadow_box { background: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	#section6 .footer { margin-top: 0; }
	#section6 .sns_list { display: block; width: 440px; margin: 0 auto; }
	#section6 .sns_list li { margin-bottom: 20px; }
	
	.content { padding: 0 24px; }
	.sec_title { font-size: 2.5rem; }
	.sub_title { margin-bottom: 24px; }
	.sub_sec_title { font-size: 2.5rem; margin-top: 64px; }
	.sub_title.lite + .subSection { padding-top: 16px; }
	.txtInfo { text-align: left; }

	.plan_table table { font-size: 1rem; }
	.plan_table.type2 th { font-size: 0.875rem; }
	.plan_table th, .plan_table td { padding: 14px 0; }

	.subSection { padding-top: 40px; }
	.subSection .txt, .subSection .img { float: none; width: 100%; }

	.whNowrap { white-space: nowrap; }
}

@media screen and (max-width: 600px) {
	#section1 .market_table { text-align: left; }
	#section1 .market_table dl { float: none; width: 100%; border: none; }
	#section1 .market_table dl:first-child { margin-bottom: 40px; }
	#section1 .market_table dl > * { border: none; }
	#section1 .market_table dt { padding: 0; font-size: 1.5rem; font-family: 'notokr-medium'; }
	#section1 .market_table dd { padding-top: 16px; min-height: auto; }
	#section1 .market_table dd p.em { display: inline-block; margin: 8px 0 0; font-size: 2rem; line-height: 1.313em; }
	#section1 .market_table dd p { margin: 0; }
	#section1 .market_table dd p:first-child { margin-bottom: 16px; }
	#section1 .market_table dd p:last-child { display: inline-block; margin-left: 8px; }

	#section2 .graph { margin-top: 60px; padding: 0 16px; }
	#section2 .graph .token, #section2 .graph .fund { float: none; width: 100%; }
	#section2 .graph h4 { text-align: left; }
	#section2 .graph ul { margin: 30px 0 0; }
	#section2 .graph .fund { text-align: right; }
	#section2 .graph .fund h4 { margin-top: 64px; text-align: right; }
	#section2 .graph .fund ul { display: inline-block; }
	#section2 .graph .fund li { padding: 0 104px 0 0; margin-left: -207px; text-align: left; }
	#section2 .graph .fund li:first-child { text-align: right; }
}

@media screen and (max-width: 480px) {
	#menu .m_menu .nav { margin-top: 25px ; }
	#menu .m_menu .lang { height: 50px; padding: 9px 12px; }
	#menu .m_menu .lang ul li a { width: 30px; height: 32px; line-height: 32px; }

	html { font-size: 14px; line-height: 1.429em; letter-spacing: 0; }
	#menu { height: 49px; }
	#menu .title { width: 60px; height: 17px; }
	#menu .content { height: 49px; padding: 16px; }
	#menu .m_btn { width: 49px; height: 49px; }
	#menu .m_btn span { width: 20px; height: 2px; margin: -1px 0 0 -10px; }
	#menu .m_btn span:after { height: 2px; top: -6px; width: 16px; }
	#menu .m_btn span:before { height: 2px; bottom: -6px; width: 12px; }
	#menu .m_btn.close span:after{ width: 10px; 
		-webkit-transform: rotate(90deg) translate3d(1px, -4px, 0);
		-moz-transform: rotate(90deg) translate3d(1px, -4px, 0); 
		transform: rotate(90deg) translate3d(1px, -4px, 0); 
	}
	#menu .m_btn.close span:before{ width: 10px; 
		-webkit-transform: rotate(-90deg) translate3d(1px, 4px, 0); 
		-moz-transform: rotate(-90deg) translate3d(1px, 4px, 0); 
		transform: rotate(-90deg) translate3d(1px, 4px, 0); 
	}	

	#section_main { background-image: none; }
	#section_main .content { padding: 0 16px; }	
	#section_main img { margin: -17% 0 0 -10%; }
	#section_main .main_info { width: auto; margin: 0 -16px; padding: 16px; -webkit-border-radius: 0; border-radius: 0; font-size: 0.857rem; line-height: 1.333em; }
	#section_main .main_info .info_title { margin-bottom: 4px; }
	#section_main .main_info .info_title, #section_main .main_info li em { font-size: 1.429rem; line-height: 1.4em; }
	#section_main .main_info ul { margin-bottom: 16px; padding-top: 32px; }
	#section_main .main_info ul > li { overflow: hidden; float: none; display: block; margin-bottom: 16px; }
	#section_main .main_info ul > li:last-child { margin-bottom: 0; }
	#section_main .main_info li em { float: right; margin: 0; }
	#section_main .main_info li p { line-height: 2.333em; }
	#section_main .copy { margin-top: 0; }
	#section_main .copy .content { padding: 16px; font-size: 1rem; line-height: 1.429em; color: #c5dfff; }
	#section_main .copy span { font-size: 0.857rem; line-height: 1.333em; }

	#section1 .content { padding: 24px 16px; }
	#section1 .video_wrap { width: 100%; margin: 16px auto 24px; padding-top: 55.7%; }
	#section1 .subSection .video_wrap { margin-top: 48px; }
	#section1 .btn { width: 100%; margin-top: 24px; }
	#section1 .btn .flipper .button { width: 100%; }
	#section1 .img1 { width: 100%; margin-top: 16px; }
	#section1 .img2 { width: 160px; }
	#section1 .subSection .graph .round .img { width: 180px; }
	#section1 .subSection .graph .round .img span { padding-top: 60px; }
	#section1 .subSection .graph .round .img span em { margin-bottom: 4px; font-size: 36px; }
	#section1 .subSection .desc_list li { margin-bottom: 3px; padding-left: 16px; font-size: 0.857rem; line-height: 1.333em; }
	#section1 .subSection .desc_list li:before { width: 8px; height: 8px; margin-top: -4px; -webkit-border-radius: 4px; border-radius: 4px; }
	#section1 .subSection .graph .round .caption { margin-top: 16px; font-family: 'notokr-regular'; }
	#section1 .subSection .desc_list { margin-top: 16px; }
	#section1 .subSection .graph .stick img { width: 100%; height: auto; margin: 40px 0 16px; }
	#section1 .subSection .graph .stick .caption { width: 100%; margin: 0; font-size: 1rem; line-height: 1.333em; }
	#section1 .market_table { margin-top: 40px; }
	#section1 .market_table dt { font-size: 1.143rem; line-height: 1.5em; }
	#section1 .market_table dd { padding: 8px 0 0; }
	#section1 .market_table dd p { font-size: 1rem; line-height: 1.333em; }
	#section1 .market_table dd p:first-child { margin-bottom: 8px; }
	#section1 .market_table dd p.em { margin-top: 0; font-size: 1.429em; line-height: 1.400em; }
	#section1 .market_table dd p:last-child { margin-left: 4px; }
	#section1 .rodeMap .number { width: 32px; height: 32px; margin-top: -16px; line-height: 32px; font-size: 1.143rem; }
	#section1 .rodeMap .stick { left: 14px; width: 4px; }
	#section1 .rodeMap li { padding-left: 48px; }
	#section1 .rodeMap dt { width: 33px; font-size: 1rem; line-height: 1.333em; }
	#section1 .rodeMap dd { padding-left: 30px; border-left: none; }

	#section2 .content { padding: 24px 16px; }
	#section2 .sec_title + .sub_sec_title { margin: 40px 0 24px; }
	#section2 .txt2 { margin-top: 16px; font-size: 1rem; line-height: 1.333em; }
	#section2 .graph { margin-top: 48px; }
	#section2 .graph ul { width: 40px; height: 250px; margin-top: 24px; font-size: 0.857rem; line-height: 1.333em; }
	#section2 .graph li .cell strong { font-size: 0.857rem; line-height: 1.500em; }
	#section2 .graph li { width: 150px; padding-left: 52px; }
	#section2 .graph li:first-child .cell strong { font-size: 1.714rem; line-height: 1.333em; }
	#section2 .graph h4 { font-size: 1.429rem; line-height: 1.400em; }
	#section2 .graph .fund li { width: 179px; margin-left: -139px; padding-right: 52px }
	#section2 .graph li.small .cell { font-size: 0.714rem; }
	#section2 .graph li.small strong { font-size: 0.571rem; }
	#section2 .sub_sec_title { margin-bottom: 24px; }
	#section2 .profit_list { margin-top: 24px; }
	#section2 .profit_list li { padding: 24px 16px; }
	#section2 .profit_list li:last-child { margin-bottom: 0; }
	#section2 .profit_list li h5 { padding-bottom: 28px; margin-bottom: 24px; font-size: 1.429rem; line-height: 1.4em; }
	#section2 .profit_list li p { font-size: 1rem; line-height: 1.429em; }
	#section2 .img4 { width: 270px; margin: 0 auto 24px; }
	#section2 .exchanges_list { margin-top: 24px; padding: 0 16px; }
	#section2 .exchanges_list li { width: 47%; margin-right: 6%; }
	#section2 .exchanges_list li:nth-child(2n+2) { margin-right: 0; }

	#section3 .content { padding: 24px 16px; }
	#section3 .Whitepaper_list { margin-top: 40px; }
	#section3 .Whitepaper_list li { float: none; width: 256px; margin: 0 auto 40px; }
	#section3 .Whitepaper_list li:last-child { margin: 0 auto; }
	#section3 .Whitepaper_list .btn_wrap a { padding: 0 10px; font-size: 1.143em; line-height: 24px; }
	#section3 .Whitepaper_list .img p { font-size: 1.143rem; line-height: 1.500em; }

	#section4 .content { padding: 24px 16px 0; }
	#section4 .sub_sec_title { margin-bottom: 24px; }
	#section4 .sec_title + .sub_sec_title { margin-top: 40px; }
	#section4 .sub_title.lite { margin-bottom: 8px; }
	#section4 .team_list .profile { padding: 20px 0 20px 80px; }
	#section4 .team_list .profile .photo { width: 64px; height: 64px; -webkit-border-radius: 32px; border-radius: 32px; }
	#section4 .team_list .name { font-size: 1.143rem; line-height: 1.500em; }
	#section4 .team_list .sns { width: 24px; height: 24px; margin-left: 5px; }
	#section4 .team_list .team_list { font-size: 0.857rem; line-height: 1.333em; }
	#section4 .sub_sec_title + .sub_title.lite { margin-top: 24px; }
	#section4 .img_list { margin-top: 24px; }
	#section4 .img_list .pc { display: none; }
	#section4 .img_list li { float: none; position: relative; width: 100%; margin: 0 0 16px; }
	#section4 .img_list li:after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .0)); background: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .0)); }
	#section4 .img_list li:last-child { margin-bottom: 0; }
	#section4 .img_list li img { display: block; }
	#section4 .img_list li p { position: absolute; top: 16px; left: 16px; z-index: 10; margin: 0; font-size: 1.143rem; line-height: 1.500em; color: #fff; }
	#section5 .faq_list .title:before { right: 15px; }
	#section5 .faq_list .title:after { right: 8px; }

	#section5 .content { padding: 24px 16px; }
	#section5 .faq_list { margin-top: 40px; }
	#section5 .faq_list .title { padding: 20px 32px 20px 0; font-size: 1.143rem; line-height: 1.500em; }
	#section5 .faq_list .cont { padding: 24px 0; font-size: 0.857rem; line-height: 1.333em; color: rgba(0, 0, 0, .6); }
	#section5 .asSeenOn_list { margin-top: 24px; padding: 0 6px; }
	#section5 .asSeenOn_list ul { width: 100%; }
	
	#section6 .sec_title { margin-bottom: 32px; font-size: 2.000rem; }
	#section6 .footer .content { padding: 32px 16px 88px; text-align: center; }
	#section6 .shadow_box { padding: 24px 24px 32px; }
	#section6 .sns_list { width: 240px; }
	#section6 .sns_list li { width: 48px; height: auto; margin: 0; }
	#section6 .sns_list li a { display: block; padding: 8px; }
	#section6 .footer .bottom { margin-top: 24px; }
	#section6 .footer .bottom .link, #section6 .footer .bottom .copy { float: none; }

	#overlay .top { display: none; }

	.content { padding: 0 16px; }
	.sec_title, .sub_sec_title { margin-bottom: 24px; font-size: 1.714rem; letter-spacing: .4px; }
	.sub_title { margin-bottom: 16px; font-size: 1.429rem; line-height: 1.400em; }
	.sub_title.lite { margin: 40px 0 16px; }
	.sub_sec_title + .sub_title.lite { margin-top: 24px; }
	.sub_title.lite + .subSection { padding-top: 8px; }

	.subSection { padding-top: 0; }
	.subSection strong { margin: 24px 0 8px; }
	
	.plan_table table { margin-top: 24px; font-size: 0.714rem; }
	.plan_table th, .plan_table td { padding: 10px 0; }
	.plan_table.type2 table { margin-top: 24px; }
	.plan_table.type2 th, .plan_table.type2 td { font-size: 0.714rem; }

	.number_list { margin-top: 24px; line-height: 1.429em; }
	.txtInfo { font-size: 0.857rem; line-height: 1.333em; }
	.dot_list { margin-top: 8px; line-height: 1.429em; }
	.btn { -webkit-perspective: none; perspective: none; -webkit-border-radius: 4px; border-radius: 4px; }
}

@media screen and (max-height: 568px) {
	#menu .m_menu .nav { margin-top: 0; }
	#menu .m_menu .nav li { margin-bottom: 8px; }
	#menu .m_menu .signIn { margin-top: 12px; }
}
