@charset "UTF-8";

@font-face {
    font-family: 'notokr-regular';
    font-style: normal;
    font-weight: normal;
    src: url(../font/notokr-regular.eot);
    src: url(../font/notokr-regular.eot?#iefix) format('embedded-opentype'),
    url(../font/notokr-regular.woff) format('woff');
}
@font-face {
    font-family: 'PlayfairDisplay-Bold';
    font-style: normal;
    font-weight: normal;
    src: url(../font/PlayfairDisplay-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'notokr-light';
    font-style: normal;
    font-weight: normal;
    src: url(../font/notokr-light.eot);
    src: url(../font/notokr-light.eot?#iefix) format('embedded-opentype'),
    url(../font/notokr-light.woff) format('woff');
}
@font-face {
    font-family: 'notokr-medium';
    font-style: normal;
    font-weight: normal;
    src: url(../font/notokr-medium.eot);
    src: url(../font/notokr-medium.eot?#iefix) format('embedded-opentype'),
    url(../font/notokr-medium.woff) format('woff');
}
@font-face {
    font-family: 'notokr-bold';
    font-style: normal;
    font-weight: normal;
    src: url(../font/notokr-bold.eot);
    src: url(../font/notokr-bold.eot?#iefix) format('embedded-opentype'),
    url(../font/notokr-bold.woff) format('woff');
}